* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.cards-container {
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: auto;
}

@media (min-width: 900px) {
    .cards-container {
        justify-content: center;
    }
}